.bg-biru-1 { background-color: #0463CA; }
.bg-biru-2 { background-color: #0487E2; }
.bg-biru-3 { background-color: #09B1EC; }
.bg-biru-4 { background-color: #65C2F5; }
.bg-biru-5 { background-color: #B0D6F5; }
.text-biru-1 { color: #0463CA; }
.text-biru-2 { color: #0487E2; }
.text-biru-3 { color: #09B1EC; }
.text-biru-4 { color: #65C2F5; }
.text-biru-5 { color: #B0D6F5; }